.pandda-bd-info{
    background-color: #fceae8;
}
.categorie img{
    width: 100px;
    height: 100px;

}
.panda-btn-clo{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
